<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, shrink-to-fit=no">

  <title>Vatulointikello - Slacking clock</title>
  <meta name="description" content="Track money wasted on for all the time it takes in meetings to handle stuff that doesn't really get any of you anywhere.">

  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">

  <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">

  <link rel="stylesheet" href="css/sticky-footer.css">

  <meta name="google-site-verification" content="ekOqrLrm0YfUZ_tXkSc75QGDQlcGBRNjbi7eM7uPc0E" />

</head>
<body>
<style>
  [v-cloak] {display: none; }
</style>
<div id="app" v-cloak class="container">
  <div class="row mt-5">
    <div class="col-sm-6 offset-sm-3 text-center">

      <h1>Vatulointikello</h1>
      <div class="my-5"></div>
      <h2 class="display-2">
        {{ displayCost }} €
      </h2>
      <p class="text-muted">edestä vatuloitu</p>
      <i
        :class="timerClassStates[timerCurrentClassIndex]"
        class="fas text-muted">
      </i>

    </div>
  </div>
  <div class="row mt-5 align-items-center justify-content-center">
    <div class="col-lg-3 col-sm-4 col-8 text-center">

      <button
        @click="toggleTimer()"
        type="button"
        name="start-pause"
        class="btn btn-primary py-3">
        Aloita / Keskeytä
      </button>

    </div>
    <div class="col-lg-3 col-sm-4 col-8">

      <label class="my-2" for="display_update_period">Päivitysväli</label>
      <input
        v-model="displayUpdatePeriod"
        type="text"
        class="form-control"
        name="display_update_period">

    </div>
  </div>
  <div class="row my-5 align-items-center justify-content-center">
    <div class="col-lg-3 col-sm-4 col-8 mt-2">

      <label for="sum_of_partics">Osanottajien määrä</label>
      <input
        v-model="sumOfPartics"
        type="text"
        class="form-control"
        name="sum_of_partics">

    </div>
    <div class="col-lg-3 col-sm-4 col-8 mt-2">

      <label for="avg_hourly_cost">Kesk. tuntihinta</label>
      <input
        v-model="avgHourlyCost"
        type="text"
        class="form-control"
        name="avg_hourly_cost">

    </div>
  </div>
</div>

<footer class="footer">
  <div class="container text-center">
	<div class="row">
	  <div class="col-lg-6">
		<span class="text-muted mx-4 mb-5">Copyright &#169; 2018 Matias Kivikoura</span>
	  </div>
	  <div class="col-lg-6">
		<span class="text-muted mx-4">
          Released under
          <a href="https://gitlab.com/mkivikoura/vatulointikello/raw/master/LICENSE">
            MIT license
          </a>
          and hosted at
          <a href="https://gitlab.com/mkivikoura/vatulointikello">
            gitlab.com
		  </a>
		</span>
	  </div>
	</div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
  integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
  crossorigin="anonymous">
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
  integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
  crossorigin="anonymous">
</script>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
</script> -->

<script src="https://cdn.jsdelivr.net/npm/vue">
</script>

<script src="js/slackingClock.js">
</script>
</body>
</html>
